/c/DF/Lubex/GESLUX/cblconfi
/c/DF/Lubex/GESLUX/FEL/*
/c/DF/Lubex/GESLUX/GESLUX.log   
/c/DF/Lubex/GESLUX/transazioni/*
/c/DF/Lubex/GESLUX/transazioni/*.*
/c/DF/Lubex/GESLUX/GESLUX.cwf
/c/DF/Lubex/GESLUX/GESLUX.wif
/c/DF/Lubex/GESLUX/GESLUX.dmd
/c/DF/Lubex/GESLUX/GESLUX.log
./GESLUX.cwf